<div class="sensor-search">
  <input type="text" class="search-input" [(ngModel)]="searchDate" placeholder="Search by date...">
  <button class="search-button" (click)="searchByDate()">Search</button>
  <button class="reset-button" (click)="resetSearch()">Reset</button>
  <button class="sort-button" (click)="sortSensors()">Sort by date({{ sortOrder === 'asc' ? 'Ascending' : 'Descending' }})</button>
</div>
<div class="sensors-container">
  <div class="sensor">
    <div class="sensor-name">Temperature</div>
    <div class="sensor-records">
      <div class="scrollable">
        <div class="record" *ngFor="let infoItem of temperatureAndHumidity">
          {{ infoItem.temperature }} °C
          <p>Date: {{ infoItem.dateTime }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sensor">
    <div class="sensor-name">Humidity</div>
    <div class="sensor-records">
      <div class="scrollable">
        <div class="record" *ngFor="let infoItem of temperatureAndHumidity">
          {{ infoItem.humidity }} %
          <p>Date: {{ infoItem.dateTime }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="sensor">
    <div class="sensor-name">Pressure</div>
    
    <div class="sensor-records">
      <div class="scrollable">
        <div class="record" *ngFor="let infoItem of pressure">
          {{ infoItem.value }} Pa
          <p>Date: {{ infoItem.dateTime }}</p>
        </div>
        
      </div>
    </div>
  </div>

  <div class="sensor">
    <div class="sensor-name">CO2</div>
    
    <div class="sensor-records">
      <div class="scrollable">
        <div class="record" *ngFor="let infoItem of co2">
          {{ infoItem.value }} PPM
          <p>Date: {{ infoItem.dateTime }}</p>
        </div>
        
      </div>
    </div>
  </div>
</div>
