<div class="container">
    <div class="temperature average">
      <div class="label">Average Temperature</div>
      <div class="value">{{ averageTemperature }}°C</div>
    </div>
    <div class="humidity average">
      <div class="label">Average Humidity</div>
      <div class="value">{{ averageHumidity }}%</div>
    </div>
    <div class="extra-info average">
      <div class="label">Average pressure</div>
      <div class="value">{{averagePressure}} Pa</div>
    </div>
    <div class="extra-info average">
      <div class="label">Average CO2</div>
      <div class="value">{{averageCo2}} PPM</div>
    </div>
  </div>

  